<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        <meta name="description" content="@videlin.eu">
        <meta name="author" content="V.Donchev">
    {% endblock %}

    <title>{% block title %}WebShop Template{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("styles/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("styles/shop.css") }}">
    {% endblock %}
</head>

<body>

<div class="container">
    {% include "@WebShop/_main_navigation.html.twig" %}
    {% include "@WebShop/_admin_navigation.html.twig" %}
    {% include "@WebShop/_flash_messages.html.twig" %}

    {# body #}
    <div class="row">
        {# sidebar #}
        <aside class="col-md-3">
            {% block sideabr %}
                <h1 class="h4"></h1>
                <ul class="list-group">
                    <li class="list-group-item active">Product Categories</li>
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        <a href="#">Notebooks and IT</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">8</span>
                        <a href="#">Smart-phones and Tables</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">352</span>
                        <a href="#">TVs and Digital</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">6</span>
                        <a href="#">Photo</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        <a href="#">Gaming</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge">19</span>
                        <a href="#">Electronics</a>
                    </li>
                </ul>
            {% endblock %}
        </aside>

        {# main #}
        <main class="col-md-9">
            <h1 class="h3">{% block main_title %}Latest products{% endblock %}</h1>
            <hr>
            {% block main %}
            {% endblock %}
        </main>
    </div>

    <hr>
    <footer>
        {% block footer %}
            <p class="text-right">&copy; 2017 @V.Donchev <a href="https://www.videlin.eu">www.videlin.eu</a></p>
        {% endblock %}
    </footer>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset("scripts/bootstrap.min.js") }}"></script>
{% endblock %}

</body>
</html>