{% extends '@WebShop/base.html.twig' %}

{% block main_title %}{{ form_name }}{% endblock %}

{% block main %}
    {{ form_start(add_form) }}
    {{ form_row(add_form.promotion) }}

    <button class="btn btn-success" formnovalidate>Go <span class="glyphicon glyphicon-plus-sign"></span></button>

    {{ form_end(add_form) }}
{% endblock %}

